<td class="
{%- case include.status -%}
  {%- when "N", "no", false -%}
    status-N
  {%- when "Next", "Next-no-dts", "pending", "WIP", "wip" -%}
    status-next
  {%- when "N/A", "n/a" -%}
    status-NA
  {%- when nil -%}
    status-unknown
  {%- else -%}
    {%- if include.status contains "no-dts" -%}
      status-no-dts
    {%- else -%}
      status-Y
    {%- endif -%}
{%- endcase -%}">{{include.status}}</td>
