td.status-Y {
	background-color: green;
}
td.status-no-dts {
	background-color: lightgreen;
}
td.status-N {
	background-color: red;
}
td.status-NA {
	background-color: gray;
}
td.status-next {
	background-color: yellow;
}
td.status-unknown {
	background-color: lightgray;
}
